Django 
Djangorestframework-simplejwt == 5.5.0
Google-auth 
Google-auth-oauthlib
Google-auth-httplib2
python-decoupled
psycopg2-binary
django-cors-headers
#pip install psycopg2  for production
groq 
tavily-python 
python-dotenv 
requests